html {
  scroll-behavior: smooth;
}
.main-contain {
  background: url('images/back-w2.jpg');
  background-size: cover;
  background-attachment:fixed;
  width: 100%;
  height: auto;
  border: solid red 2px;
}




.nav {
  width: 100%;
  background-color: #222;
  position: fixed;
  padding: 25px;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-header {
  display: inline;
  font-family: "Courier New", Courier, monospace;
}

.nav-title {
  display: inline-block;
  font-size: 40px;
  color: #fff;
  padding: 15px;
  letter-spacing: 5px;
}

.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav-item{
  display: inline-block;
  padding: 13px 10px 13px 10px;
  margin-left: 80px;
}

.custom-style{
  color:#efefef;
  position: relative;
  height: 100%;
  text-decoration: none;
  color: #efefef;
  font-size: 21px;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
}

.custom-style:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.custom-style:hover:before{
  visibility: visible;
  transform: scaleX(1);
}

.custom-style:hover{
  color: white;
}
/* #burger{
  padding-top:6px;
} */
.bar1, .bar2, .bar3 {
  width: 45px;
  height: 5px;
  background-color: #efefef;
  margin: 8px 0;
  border-radius: 10px;
  transition: 0.4s;
}

.change .bar1 {
  /* -webkit-transform: rotate(-45deg) translate(-9px, 6px); */
  transform: rotate(-45deg) translate(-11px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
  transform: rotate(45deg) translate(-11px, -8px);
}

.dropdown{
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 95px;
  background: #222;
  display: flex;
  flex-direction: column;
  padding: 50x 0;
}
.drop-wrap{
  padding: 55px 0px;
  text-align: center;
}
.drop-style{
  padding: 20px;
  letter-spacing: 5px;
}


.vert {
  position: fixed;
  left: 0;
  top: 15vh;
  z-index: 10;
}

.email {
  letter-spacing: 2px;
  font-size: 1.5em;
}

a {
  text-decoration: none !important;
}

#about {
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.shade{
  height: 100%;
  width: 100%;
  padding: 35vh 5vw 25vh 10vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2),rgba(9, 13, 23, 0.2));
}

#about-n {
  font-size: 4em ;
  font-family: "Courier New", Courier, monospace;
}

#about-h {
  font-size: 2.5em;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

#about-p {
  font-size: 1.7em;
  font-family: "Courier New", Courier, monospace;
  line-height: 2;
  margin-bottom: 6vh;
}

#experience{
  background: url('images/back-d.jpg');
  /* background-size: width height; */
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}
.exp-shade{
  background:linear-gradient(45deg, rgba(35, 37, 38, 0.2), rgba(65, 67, 69, 0.2)) ;
  padding: 24vh 8vw 24vh 8vw;
  display: flex;
  flex-wrap: wrap;
}
.experience-left{
  flex: 4;
}
.experience-right{
  padding: 5vh;
  flex: 7;
}
.my-list{
  width: 100%;
}
.exper-style{
  margin: auto;
}
.profile-pic{
  background: url(./images/prof.jpg);
  background-size: cover;
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
  margin: auto;
}
.who{
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  border-bottom: solid 2px;
}
.soft-descrip, .quote{
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4em;
}
.quote{
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.my-list{
  display:flex;
}
.l-list{
  list-style: none;
  flex:1;
  text-align:left;
  padding-left: 8vw !important;
  margin: 0 !important;
  font-size: 1.3em !important;
}
.list-style{
  padding-top: 3vh;
}


#works {
  background: url('images/work-back.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.work-pics{
  height:100%;
  width: 100%;
  margin:0 !important;
}
.work-pics:hover{
  cursor: pointer;
}
.shade-w{
  background:linear-gradient(45deg, rgba(35, 37, 38, 0.2), rgba(65, 67, 69, 0.2)) ;
  padding: 20vh 7vw 20vh 7vw;
  height: 100%;
  width: 100%;
}

.gitLinks {
  text-align: right;
}

.cardTitles {
  padding: 2vh 2vw 0 2vw;
  font-size: 2em !important;
}

.cardDescrip {
  height: 25vh;
  padding: 2vh 2vw 0 2vw;
  line-height: 1.5;
  font-size: 1.2em !important;
  background: white;
}
.all-my-cards{
  opacity: 0.95;
  margin-bottom: 5vh !important;
}
.headers{
  font-size: 3em;
  color:white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 0vh 0 12vh 0;
}
.list-header{
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
}
.red{
  color:crimson;
}
#contact{
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}
.shade-c{
  height: 100%;
  width: 100%;
  padding: 20vh 0 20vh 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2),rgba(9, 13, 23, 0.2));
}
#contactInfo{
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  color: whitesmoke;
  line-height: 2;
  margin: 0 10vw 5vh 10vw;
}


@media (max-width: 375px) {

  main {
    margin-top: 34vh;
  }
  #about-n, .headers{
    font-size: 2.7em !important;
  }
  .exper-style{
    font-size: 2em !important;
    margin-top:4vh !important;
    margin-bottom:4vh !important;
    padding: 0;
  }
  .experience-right{
    padding:0;
  }
  #about-h{
    font-size: 1.9em !important;
  }
  #about-p, #contactInfo{
    font-size: 1em !important;
  }
  .custom{
    position: fixed;
    margin: 0 !important;
    padding: 0 !important;
  }
  .main-contain,#works,#experience{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .exp-shade,.my-list{
    flex-direction: column;
  }
  .vert{
    top: 35vh;
    position: absolute;
  }
}
